/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Oswald:wght@200..700&display=swap');

/*Asterisc wildcard selector to override default styles in the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color:rgb(227 140 110 / 56%);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;

}

header a {
    text-decoration: none;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    text-align: center;
}

h2 {
    text-decoration: underline;
    
}

#menue {
    font-size: 80%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 20px;
    padding-bottom: 0.5rem;

}



.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Main content*/
main {
    /*by this Main element will take all surplus space and push the footer down*/
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#map {
    background: url("../images/Aleppo_City.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
}

#cover-text {

    background-color: rgba(255, 255, 255, .7);
    font-size: 120%;
    height: 100%;
    padding: 20px 10px;
    overflow: auto;

}

#cover-text p {
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

/*Gallery page*/
#photos img {
    width: 100%;
    line-height: 1em;
    height: auto;
}

#photos {
    line-height: 0;
}
/*Form page*/
#signup {
    background: url("../images/gray.jpg") no-repeat 75% /cover;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}
#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
#signup-form i{
    padding: 10px;
}
.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/*Footer*/
footer {
    background-color:rgb(227 140 110 / 56%);
    box-shadow: 0 -2px 2px #3a3a3a;
}

#social-networks {

    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media query styles for tablets and larger(400px)*/
@media screen and (min-width:400px) {
    #photos {
        column-count: 2;
        column-gap: 0;

    }

}

/*Media query styles for tablets and larger(768px)*/
@media screen and (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #menue li {
        font-size: 140%;
        letter-spacing: 3px;
        padding-left: 2em;
    }

    #logo {
        font-size: 220%;
        line-height: 40px;
        margin: 0.5rem;
    }

   
    /*Gallery*/
    #photos {
        column-count: 3;

    }

    
    #cover-text p {
        margin-right: 180px;
    }
    #signup{
        background-position: center;
        position: relative;
    }
    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 30%;
        top: 70px;
    }
    .text-input:hover {
        border-color: #f16c6b;
    }
    
    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}

/*Media query styles for laptops and larger(992px)*/
@media screen and (min-width:992px) {
    #menue a:hover {
        border-bottom: 1px solid #3a3a3a;

    }
    
}